<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bucket List del 18</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= image_tag current_user.photo, class: 'img-perfil img-fluid' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>